body{
  margin: 0;
  padding: 0;
  background-color: #80808030;
}

/* header */
.header-title{
  padding-top: 0.5em;
  background-color: ;
  font-size: 4em;
  border-bottom: thin medium black;
  font-family: "montserrat",sans-serif;
}
.memo{
  padding-left: 1em;
}



/* main */
.qblock{
  margin: 1em 2em;
  padding: 1em;
  border: thin solid black;
  box-sizing: border-box;
}
.qtitle{
  float: left;
  font-size: 1.5em;
  font-weight: bold;
}
.qquestion{
  padding-top: 0.5em;
  margin-left: 2em;
  font-size: 3em;
  font-weight: ;
  border-bottom: thin solid black;
}
.qchose{
  margin: 1em 8em;
}
.qchoseblock{
  padding-top: 0.3em;
  font-size: 2em;
}
.box{
  font-size: 2em;
}
.submit{
  margin-left: 7em;
  font-size: 1.5em;
}
.qanswer{
  margin: 2em 5em;
  padding-top: 1em;
  padding-left: 2em;
  border-top: thin solid black;
}
.qtf{
  margin-left: 0.3em;
  font-size: 1.8em;
}
.qtff{
  color: red;
}
.qtft{
  color: blue;
}
.qanswertitle{
  margin-left: 1em;
  font-size: 1.5em;
}
.qanswertitlein{
  font-size: 1.5em;
}
.qanswerdesc{
  margin-left: 2em;
  font-size: 1.8em;
}
.next{
  margin: 1em 0.3em;
  font-size: 1.5em;
}

.q1block{
  display: block;
}
.q1answer{
  display: none;
}
.q2block{
  display: none;
}
.q2answer{
  display: none;
}
.q3block{
  display: none;
}
.q3answer{
  display: none;
}



/* footer */
